.user-panel
{
    text-align: center;
}
.user-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .user-form input
    {
        width: 200px;
        height: 30px;
        margin: 5px;
        font-size: 25px;
    }
.userCard
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
    .userCard .card
    {
        position: relative;
        
        margin: 0 auto;
    }
        .userCard .card .face
        {
            width: 300px;
            height: 200px;
            transition: 0.5s;
        }
            .userCard .card .face.face1
            {
                position: relative;
                background: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transform: translateY(100px);
                
            }
                .userCard .card .face.face1 .content
                {
                    opacity: 0.2;
                    transition: 0.5s;
                    
                }
                    .userCard .card .face.face1 .content h3
                    {
                        margin: 10px 0 0;
                        padding: 0;
                        color: #fff;
                        text-align: center;
                        font-size: 1.5em;
                    }
        .userCard .card:hover .face.face1
        {
            background: #ff0057;
            transform: translateY(0);
            
        }
            .userCard .card:hover .face.face1 .content
            {
                opacity: 1;
                
            }

            .userCard .card .face.face2
            {
                position: relative;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                box-sizing: border-box;
                box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
                transform: translateY(-100px);
            }
                .userCard .card .face.face2 .content a
                {
                    margin: 15px 0 0;
                    display:  inline-block;
                    text-decoration: none;
                    font-weight: 900;
                    color: #333;
                    padding: 5px;
                    border: 1px solid #333;
                }
                .userCard .card .face.face2 .content p
                {
                    margin: 0;
                    padding: 0;
                }
            .userCard .card:hover .face.face2
            {
                transform: translateY(0);
            }
            .userCard .card .face.face2 .content a:hover
            {
                background: #333;
                color: #fff;
            }
.userCard p{
    text-align: center;
}

.userCards-slider-wrapper 
{
    display: flex;
    pointer-events:all;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
    margin-top: 0%;
    margin-left:29%;
}
    .userCards-slider-wrapper .card 
    {
      min-width: 200px;
      transform: scale(0.9);
    }
        .userCards-slider-wrapper .card .details 
        {
        opacity: 0;
        }
      
.userCards-slider 
{
    position: relative;
    width: 500px;
    margin: 0 auto; 
}
.user-cards button.left
{
      position:absolute;
  margin-left: 5%;
  margin-top: 0px;
  height: 400px;
}
.user-cards button.right
{
    position:absolute;
    margin-left: 90%;
    margin-top: 0px;
    height: 400px;
}

.hero2
{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.form-box2
{
    width: 380px;
    height: 580px;
    position: relative;
    margin:auto;
    background:#fff;
    padding: 5px;
    overflow: hidden;
}
.button-box2
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.toggle-btn2
{
    padding: 10px 30px;
    cursor: pointer;
    background:transparent;
    border:0;
    outline: none;
    position: relative;
}
.btn2
{
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:linear-gradient(to right, #108cff,#1cbb86);
    border-radius: 30px;
    transition: 0.5s;
}
.input-field2
{
    width: 100%;
    padding: 10px 0;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background:transparent;
}
.submit-btn2
{
    width: 85%;
    padding:10px 30px;
    cursor: pointer;
    display: block;
    margin:10px;
    background:linear-gradient(to right, #108cff,#1cbb86);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.submit-btn3
{
    width: 85%;
    padding:10px 30px;
    cursor: pointer;
    display: block;
    margin:10px;
    background:linear-gradient(to right, #108cff,#1cbb86);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box2
{
    margin:30px 10px 30px 0;
}
span
{
    color:#777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
.login-input-group2
{
    top:0px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    left:50px;
}
.register-input-group2
{
    top:180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
    left:450px;
}
h1
{
    text-align: center;
}