.main
{
    min-height: 1080px;
}
.compare-main-cards
{
    height: 425px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}
.compare-main-cards-slider 
{
    position: relative;
    width: 500px;
    margin: 0 auto; 
}
.compare-main-cards-slider-wrapper
{
    display: flex;
    pointer-events:all;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
    margin-top: 0%;
    margin-left: 0%;
}
    .compare-main-cards-slider-wrapper .card 
    {
        min-width: 200px;
        transform: scale(0.7);
    }
        .compare-main-cards-slider-wrapper .card .details
        {
            opacity: 0;
        }

.compare-forecast-main{
    width: 100%;
    height: 100%;
}
.compare-forecast-cards{
    width: 100%;
    height: 100%;
}
.compare-forecast-cards button.left{
    position:absolute;
    margin-top: 0px;
    height: 400px;
    width: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.compare-forecast-cards button.right{
    position:absolute;
    margin-left: 90%;
    margin-top: 0px;
    height: 400px;
    width: 25px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
.compare-forecast-cards{
    height: 425px;
    width: 90%;
    margin-left: 5%;
    overflow: hidden;
    justify-content: center;
}
.compare-forecast-cards-slider {
    position: relative;
    width: 500px;
    margin: 0 auto; 
}
.compare-forecast-cards-slider-wrapper {
    display: flex;
    pointer-events:all;
    position: absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
    margin-top: 0%;
    margin-left: 0%;
  }
.compare-forecast-cards-slider-wrapper .card {
    min-width: 200px;
    transform: scale(0.9);
}
.compare-forecast-cards-slider-wrapper .card .details {
      opacity: 0;
}

.compare-forecast-card{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .compare-forecast-card .card{
      position: relative;
      cursor: pointer;
      margin: 0 auto;
  }
  .compare-forecast-card .card .face{
      width: 300px;
      height: 200px;
      transition: 0.5s;
  }
  .compare-forecast-card .card .face.face1{
      position: relative;
      background: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      transform: translateY(100px);
      color: white;
      
  }
  .compare-forecast-card .card:hover .face.face1{
      background: #ececec;
      transform: translateY(0);
      color: black;
      
  }
  .compare-forecast-card .card .face.face1 .content{
      opacity: 1;
      transition: 0.5s;
      
  }
  .compare-forecast-card .card:hover .face.face1 .content{
      opacity: 1;
      
  }
  .compare-forecast-card .card .face.face1 .content h3{
      margin: 10px 0 0;
      padding: 0;
      text-align: center;
      font-size: 1.5em;
      color: white;
      transition: 0.5s;
  }
  .compare-forecast-card .card:hover .face.face1 .content h3{
    color: black;
    transition: 0.5s;
  }
  .compare-forecast-card .card .face.face2{
      position: relative;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      transform: translateY(-100px);
  }
  .compare-forecast-card .card:hover .face.face2{
      transform: translateY(0);
  }
  .compare-forecast-card .card .face.face2 .content p{
      margin: 0;
      padding: 0;
      width: 200px;
  }
  .compare-forecast-card .card .face.face2 .content img{
    margin-left: 5%;
    margin-right: 5%;
  }
  .compare-forecast-card .card .face.face2 .content a{
      margin: 15px 0 0;
      display:  inline-block;
      text-decoration: none;
      font-weight: 900;
      color: #333;
      padding: 5px;
      border: 1px solid #333;
  }
  .compare-forecast-card .card .face.face2 .content a:hover{
      background: rgb(228, 27, 27);
      color: #fff;
  }
  .compare-forecast-card p{
      text-align: center;
  }















.compareCard
{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
    .compareCard .card
    {
        position: relative;
        cursor: pointer;
        margin: 0 auto;
    }
        .compareCard .card .face
        {
            width: 200px;
            height: 300px;
            transition: 0.5s;
        }
            .compareCard .card .face.face1
            {
                position: relative;
                background: #333;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                transform: translateY(100px);
                
            }
                .compareCard .card .face.face1 .content
                {
                    opacity: 1;
                    transition: 0.5s;
                    
                }
                    .compareCard .card .face.face1 .content h3
                    {
                        margin: 10px 0 0;
                        padding: 0;
                        color: #fff;
                        text-align: center;
                        font-size: 1.5em;
                    }
        .compareCard .card:hover .face.face1
        {
            background: #242fce;
            transform: translateY(0);
            
        }
            .compareCard .card:hover .face.face1 .content
            {
                opacity: 1;
                
            }
        
        .compareCard .card .face.face2
        {
            position: relative;
            background: #fff;
            display: flex;

            padding: 20px;
            box-sizing: border-box;
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
            transform: translateY(-200px);
        }
        .compareCard .card:hover .face.face2
        {
            transform: translateY(0);
        }
            .compareCard .card .face.face2 .content p
            {
                margin: 0;
                padding: 0;
            }
            .compareCard .card .face.face2 .content a
            {
                margin: 15px 0 0;
                display:  inline-block;
                text-decoration: none;
                font-weight: 900;
                color: #333;
                padding: 5px;
                border: 1px solid #333;
            }
                .compareCard .card .face.face2 .content a:hover{
                    background: #333;
                    color: #fff;
                }
    .compareCard p
    {
        text-align: center;
    }
.city-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}