.main
{

}
.currentWeatherMain
{
    background: rgba(255, 255, 255, 0.75);
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    text-align: center;
    
}
.currentWeatherMain button
{

    
}
.currentWeatherMain .conditions
{
    position: relative;
    display: flex;
    
}
.currentWeatherMain .conditionsMain
{
    margin-left: 5%;
    
}
.currentWeatherMain .conditionsTemp
{
    margin-left: 5%;
}
.currentWeatherMain .conditionsTemp p
{
    text-align: left;  
}
.currentWeatherMain .conditionsOther 
{
    margin-left: 5%;
    width: 15%;
}
.currentWeatherMain .conditionsOther img
{
    margin-left: 10%;
    margin-right: 5%;
}
.currentWeatherMain .conditionsOther p
{
    text-align: left;  
}
.currentWeatherMain .conditionsSun 
{
    margin-left: 5%;
    width: 15%;
}
.currentWeatherMain .conditionsSun img
{
    margin-left: 10%;
}
.currentWeatherMain .conditionsAqi 
{
    margin-left: 5%;
    margin-top: 1%;
    width: 15%;
  background: #73AD21;
  padding: 20px;
  opacity: 100%;

}
.currentWeatherMain .chart
{
    position: relative;
    display: block;
    
}

.city-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.city-form input
{
    width: 300px;
    height: 60px;
    margin: 10px;
    font-size: 25px;
}
.city-form h1
{
    color: #fff;
}
.city-form button
{
    font-size: 30px;
}