.main-cards{
  height: 425px;
  width: 85%;
  margin-left: 5%;
  overflow: hidden;
  justify-content: center;
}
.cards-slider-wrapper {
  display: flex;
  pointer-events:all;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
  margin-top: 0%;
  margin-left: 0%;
}
  .cards-slider-wrapper .card {
    min-width: 200px;
    transform: scale(0.9);
  }
    .cards-slider-wrapper .card .details {
      opacity: 0;
    }
    
.cards-slider {
  position: relative;
  width: 500px;
  margin: 0 auto; 
}
  .cards-slider button.left{
    position:absolute;
    margin-top: 78%;
    margin-left: 55%;
  }
  .cards-slider button.right{
    position:absolute;
    margin-top: 78%;
    margin-left: 61%;
  }
