.main-cards{
  height: 425px;
  width: 70%;
  margin-left: 15%;
  overflow: hidden;
  justify-content: center;
}
.cards-slider-wrapper {
  display: flex;
  pointer-events:all;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
  margin-top: 0%;
  margin-left: 0%;
}
.cards-slider-wrapper .card {
    min-width: 200px;
    transform: scale(0.9);
  }
.cards-slider-wrapper .card .details {
      opacity: 0;
}
    
.cards-slider {
  position: relative;
  width: 500px;
  margin: 0 auto; 
}

.forecast-main{
  width: 100%;
  height: 100%;
}
.forecast-cards{
  width: 100%;
  height: 100%;
}
.forecast-cards button.swap-button{
  margin-left: 20%;
}
.forecast-cards button.left{
  position:absolute;
  margin-left: 5%;
  margin-top: 0px;
  height: 400px;
}
.forecast-cards button.right{
  position:absolute;
  margin-left: 65%;
  margin-top: 0px;
  height: 400px;
}

.forecastCard{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.forecastCard .card{
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}
.forecastCard .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}
.forecastCard .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    
}
.forecastCard .card:hover .face.face1{
    background: #0c6bd1;
    transform: translateY(0);
    
}
.forecastCard .card .face.face1 .content{
    opacity: 1;
    transition: 0.5s;
    
}
.forecastCard .card:hover .face.face1 .content{
    opacity: 1;
    
}
.forecastCard .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}
.forecastCard .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}
.forecastCard .card:hover .face.face2{
    transform: translateY(0);
}
.forecastCard .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}
.forecastCard .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}
.forecastCard .card .face.face2 .content a:hover{
    background: rgb(228, 27, 27);
    color: #fff;
}
.forecastCard p{
    text-align: center;
}